---
---

//
// IMPORTS
//

@import "ben_bearce_custom_styles";
@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {

  margin: auto;
  font-size: 100%;
}

body {

  height: 100vh;
  margin: auto;
  width: 100%;
  max-width: $maxWidth;
	background: $white;
  font: 18px/1.4 $helvetica;
  color: $darkGray;
}

.main {
  width: inherit;
  height: auto;
  overflow: hidden;
  max-width: $maxWidth;

}

.page {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.entry {
  height: 100%;

  @include smallview {
    margin: 0 5%;
  }

  @include mobile {
    margin: 0 5%;
  }

}

.center {
  /*background-color: rgba(0,255,0,.2);*/
  display: inline-block;
  width: 60%;
  height: auto;
  padding: 0px;
  float: left;

  @include mobile{
    width: 100%;
  }
}

.wideview {
  overflow: hidden;
  height: auto;
  width: 100%;
  /*margin: 0 auto;*/
  max-width: $maxWidth;
  display: inherit;
  background-color: #ffffff;
  padding-top: 1%;

}

.mobile-hide {
    @include mobile {
  display: none !important;
}
}

/*
.small-hide {
    @include smallview {
  display: none !important;
}
}
*/

.small-only {
  display: none;

  @include smallview-only {
  display: inherit !important;
}

}

.mobile-only {
  display: none;

  @include mobile {
  display: inherit !important;
}

}

h1, h2, h3, h4, h5, h6 {
  font-family: $helveticaNeue;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.2;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
  a {
    color: inherit;
  }
}

h4 {
  font-size: 18px;
}

p {
  margin: 15px 0;

  @include smallview {
    //font-size: 10px
  }
}

a {
  color: $black;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $black;
    //text-decoration: none;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  margin: 0px 120px 0px 120px;
  max-width: 90%;

  @include largeview {
    width: 90%;
    margin: 0px 30px 0px 35px;

  }

  @include mediumview {
    width: 90%;
    margin: 0px 30px 0px 35px;

  }

  @include mobile {
    height: 200px;
    margin: 0px 15px 0px 15px;
  }

}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .home
//


.ParallaxVideo{
    height: 200px;

    video {
      /* 
         When using "position: fixed;" you can no longer set width relative to parent. 
         So we have to be explicit or use js to go find the parent width and use that to set the width.
      */

      position: fixed;
      width: $maxWidth;
      z-index: -1;  

    }

    h1 {

      color: #fff;
      font-size: 76px;
      // font-family: 'Audiowide', cursive;
      font-family: 'Roboto Mono', monospace; /*6/30/2021*/
      font-weight: 700;
      text-align: center;
      text-transform: uppercase;
      margin: 0px;
      padding: 0px;

      @include largeview {
        font-size: 50px;
      }

      @include mediumview {
        font-size: 40px;
      }

      @include smallview {
        font-size: 30px;
      }


      @include mobile {
        font-size: 25px;
      }

    }

    p {
      font-family: 'Audiowide', cursive;
      text-align: center;
      color: #fff;
    }

    @include mobile {
      font-size: 10px;
    }

}




.twitter-section {
  /*background-color: rgba(255,0,0,.2);*/
  width: 20%;
  height:100%;
  max-height: 2000px;
  float: left;
  overflow: scroll;
  //border: 1px solid;

  @include largeview {
    height: 1500px;
    font-size: 80%;
  }

  @include mediumview {
    height: 1500px;
    font-size: 70%;
  }

  @include smallview {
    height: 1800px;
    font-size: 50%;
  }

  @include miniview {
    height: 1900px;
  }

  @include mobile {
    height: 1400px;
    font-size: 50%;
    display: none;
  }

  ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
  }

}

.home-about {
  height: auto;
}

.neural-net {
  width: 100%;
  height: auto;
  display: inline-block;
  //border: 1px solid;

  @include mobile {
    margin: auto;
    display: block;
  }
}

.news {
  /*background-color: rgba(0,0,255,.2);*/
  width: 20%;
  height: 100%;
  max-height: 2000px;
  float: left;
  overflow: scroll;
  //border: 1px solid;

  @include largeview {
    height: 1500px;
    font-size: 80%;
  }

  @include mediumview {
    height: 1500px;
    font-size: 70%;
  }

  @include smallview {
    height: 1800px;
    font-size: 50%;
  }

  @include miniview {
    height: 1900px;
  }

  @include mobile {
    display: block;
    height: 482px;
    float: right;
    font-size: 50%;
    float: none;
    margin: auto;
    width: 100%;

    display: none;
  }

  ul {
    margin: 0.75em 0;
    padding: 0 1em;
    list-style: none;
  }

  li:before { 
    content: "";
    border-color: transparent #111;
    border-style: solid;
    border-width: 0.35em 0 0.35em 0.45em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative;
  }

  a {
    text-decoration: underline;
   }
  .date {
    font-weight: bold;
    font-style: normal;
  }

}


.new_section {
  background-color: rgba(0,255,0,0.1);
  height: 250px;
  display: block;
  margin: none;
}


.ch-grid {
  height: 200px;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;

  @include largeview {
    height: 140px;
  }  

  @include mediumview {
    height: 140px;
  }

  @include smallview {
    height: 140px;
  }

  @include mobile {
    height: 100px;
    margin: 0 auto;
  }

}

.ch-grid:after,
.ch-item:before {
  content: '';
    display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  //width: 220px;
  //height: 220px;
  width: 26%;
  height: 100%;
  
  display: inline-block;
  margin: 0 3%;

  @include largeview {
     
  }

  @include mediumview {
    height: 100%;
    width: 26%;
    margin: 0 3%; 
  }

  @include smallview {
    width: 30%;
    margin: 0 1%;
    height: 100%;   
  }

  @include mobile {
    width: 40%;
    margin: 0 4%;
    height: 100%;
  }

}

.ch-item {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  cursor: default;
  //border: 10px solid rgba(203,111,111,1);
  box-shadow: 
    inset 0 0 0 1px rgba(0,0,0,1),
    0 1px 2px rgba(0,0,0,0.1);
  transition: all 0.4s ease-in-out;

  @include mediumview {
    box-shadow: 
      inset 0 0 0 1px rgba(0,0,0,1),
      0 1px 2px rgba(0,0,0,0.1);    
  }

  @include smallview {
    box-shadow: 
      inset 0 0 0 1px rgba(0,0,0,1),
      0 1px 2px rgba(0,0,0,0.1);
  }

  @include mobile {
    box-shadow: 
      inset 0 0 0 1px rgba(0,0,0,1),
      0 1px 2px rgba(0,0,0,0.1);
  }


}

.ch-img-1 { 
  background-image: url(./images/research/brainseg.png);
  background-size: 250px 250px;
  font-size: 18px;



  @include smallview {
    background-image: url(./images/research/brainseg.png);
    background-size: 150px 150px;
    font-size: 12px;
  }

  @include mobile {
    background-image: url(./images/research/brainseg.png);
    background-size: 150px 150px;
    font-size: 12px;
  }

}

.ch-img-2 { 
  background-image: url(./images/research/idh.png);
  background-size: 250px 250px;
  font-size: 22px;

  @include smallview {
    background-image: url(./images/research/idh.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

  @include mobile {
    background-image: url(./images/research/idh.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

}

.ch-img-3 { 
  background-image: url(./images/research/retina.bmp);
  background-size: 250px 250px;
  font-size: 18px;

  @include smallview {
    background-image: url(./images/research/retina.bmp);
    background-size: 150px 150px;
    font-size: 12px;
  }

  @include mobile {
    background-image: url(./images/research/retina.bmp);
    background-size: 150px 150px;
    font-size: 12px;
  }

}

.ch-img-4 { 
  background-image: url(./images/research/deepneuro_resized.png);
  background-size: 225px 225px;
  font-size: 22px;

  @include smallview {
    background-image: url(./images/research/deepneuro_resized.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

  @include mobile {
    background-image: url(./images/research/deepneuro_resized.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

}

.ch-img-5 { 
  background-image: url(./images/research/dist_learn.jpg);
  background-size: 250px 250px;
  font-size: 20px;

  @include smallview {
    background-image: url(./images/research/dist_learn.jpg);
    background-size: 150px 150px;
    font-size: 12px;
  }

  @include mobile {
    background-image: url(./images/research/dist_learn.jpg);
    background-size: 150px 150px;
    font-size: 12px;
  }

}

.ch-img-6 { 
  background-image: url(./images/research/clinical.png);
  background-size: 250px 250px;
  font-size: 22px;

  @include smallview {
    background-image: url(./images/research/clinical.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

  @include mobile {
    background-image: url(./images/research/clinical.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

}

.ch-img-7 { 
  background-image: url(./images/research/dce.png);
  background-size: 250px 250px;
  font-size: 22px;

  @include smallview {
    background-image: url(./images/research/dce.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

  @include mobile {
    background-image: url(./images/research/dce.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

}

.ch-img-8 { 
  background-image: url(./images/research/deepdream.png);
  background-size: 250px 250px;
  font-size: 22px;

  @include smallview {
    background-image: url(./images/research/deepdream.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

  @include mobile {
    background-image: url(./images/research/deepdream.png);
    background-size: 150px 150px;
    font-size: 14px;
  }

}

.ch-info {
  position: absolute;
  background: rgba(203,111,111, 1);
  box-shadow: 
  inset 0 0 0 3px rgba(0,0,0,1),
  0 1px 2px rgba(0,0,0,0.1);
  width: inherit;
  height: inherit;
  border-radius: 50%;
  overflow: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  transform: scale(0);

  @include smallview {
  box-shadow: 
    inset 0 0 0 3px rgba(0,0,0,1),
    0 1px 2px rgba(0,0,0,0.1);
  }

  @include mobile {
  box-shadow: 
    inset 0 0 0 3px rgba(0,0,0,1),
    0 1px 2px rgba(0,0,0,0.1);
  }


}


.ch-info-headline {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  //  margin: 0 15px;
  padding: 50px 0 0 0;
  font-weight: bold;
  line-height: 1.2;
  height: 140px;
  font-family: 'Open Sans', Arial, sans-serif;
  text-shadow: 
    0 0 1px #fff, 
    0 1px 2px rgba(0,0,0,0.3);

  font-size: 16px;

  @include largeview {
    padding: 25px 0 0 0;
    height: 80px;
    font-size: 14px;
  }

  @include mediumview {
    font-size: 11px;
  }


  @include smallview {
    font-size: 8px;
    height: 75px;
    margin: 0 10px;
    padding: 35px 0 0 0;
  }

  @include mobile {
    padding: 30px 0 0 0;
    font-size: 7px;
    height: 60px;
    margin: 0 10px;
  }

}

.ch-info p {
  color: #fff;
  padding: 10px 5px;
  font-style: italic;
  margin: 0 30px;
  font-size: 15px;
  border-top: 1px solid rgba(255,255,255,0.5);
  opacity: 0;
  transition: all 1s ease-in-out 0.4s;

  @include largeview {
    
  }

  @include mediumview {
    
  }

  @include smallview {
    font-size: 10px;
    margin: 12px 20%;
    padding: 3px 0 0 0;
    width: 60%;
  }

  @include mobile {
    font-size: 10px;
    margin: 12px 20%;
    padding: 3px 0 0 0;
    width: 60%;
  }

}

.ch-info p a {
  display: block;
  color: rgba(255,255,255,0.7);
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding-top: 4px;
  font-family: 'Open Sans', Arial, sans-serif;
  
  @include smallview {
    font-size: 9px;
    margin: 0 0px;
    padding: 5px 0 0 0;
  }

  @include mobile {
    font-size: 9px;
    margin: 0 0px;
    padding: 5px 0 0 0;
  }

}

.ch-info p a:hover {
  color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
  box-shadow: 
    inset 0 0 0 1px rgba(255,255,255,0.1),
    0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
  transform: scale(1);
  opacity: 1;
}

.ch-item:hover .ch-info p {
  opacity: 1;
}

//
// Front-Page Lines
//

.weights {
  height: $weightHeight;
  width: 100%;

  @include largeview {
    height: 60px;
  }  

  @include mediumview {
    height: 50px;
  }

  @include smallview {
    height: 40px;
  }

  @include mobile {
    height: 30px;
    margin: 0 auto;
  }
}

.weight-line {
}

//
// .research
//


.research-topic {
  min-height: 300px;
  width: 90%;
  margin: 0 5% 30px 5%;
  position: relative;
}

.research-topic h2 {
  text-align: center;
}

.research-bubble-wrapper{

  @include smallview {
    height: 250px;
    width: 100%;
  }

  @include mobile {
    height: 250px;
    width: 100%;
  }

}

.research-bubble {
  float: left;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 40px 0 0;
  box-shadow: 
    inset 0 0 0 10px rgba(0,0,0,1),
    0 1px 2px rgba(0,0,0,0.1);

  @include smallview {
    float: none;
    margin: 0 auto;
  box-shadow: 
    inset 0 0 0 5px rgba(0,0,0,1),
    0 1px 2px rgba(0,0,0,0.1);
  }

  @include mobile {
    float: none;
    margin: 0 auto;
  box-shadow: 
    inset 0 0 0 5px rgba(0,0,0,1),
    0 1px 2px rgba(0,0,0,0.1);
  }

}

.research-text {

}



//
// .bio
//

.bio {
  width: 100%;
  max-width: 520px;
  display: block;
  margin: 40px auto;
}

.bio-directory {

  width: 100%;

  @include smallview {
    width: 90%;
    margin: 0px 5%;
  }
}

.bio img {
  width: 100%;
  height: auto;
}



.bio h1 {
  margin: 16px 20px;
  font-weight: 300;  
  text-align: center;
}

.bio h2 {
  color: $gray;
  font-size: 16px;
  padding: 16px 20px;
  border-top: 1px solid $lightGray;
  border-bottom: 1px solid $lightGray;
  text-align: center;
}

.bio p {
  font-size: 14px;
  margin-bottom: 0px;

    @include mobile {
    margin-left: 20px;
    margin-right: 20px;
  }
}

//
// .publications
//

.img-thumbnail {
  margin: 0;
}

//
// .fun
//

.fun-caption {
  color: $gray;
  font-size: 16px;
  text-align: center;
}

img, .fun {
  display: block;
  margin-left: auto;
  margin-right: auto; 
}


//
// .masthead
//

.wrapper-masthead {
  display: block;
  height: 100px;
  width:100%;

  @include mediumview {
    height: 100px;
  }

  @include smallview {
    height: 120px;
  }

  @include special_transition_for_nav_bar {
    height: 160px;
  }

  @include miniview {
    height: 160px;
  }
  
  @include mobile {
    height:250px;
  }

  @include microview {
    height:320px;
  }



}

.masthead {
  text-align: center;


    @include smallview {
    padding: 10px;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  /*background-color: rgba(255,0,0,.5);*/
  width: 100%;
  display: inline-block;
  margin: 7% 0% 0% 0%;

  @include miniview {
    margin: 1% 0% 0% 0%;  
  }

  @include mobile {
    margin: 2% 0% 0% 0%;  
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $helveticaNeue;
  font-weight: 600;
  font-size: 80px;
  letter-spacing: 1px;
  border-bottom: 1px solid $lightGray;

  @include mediumview {
    font-size: 60px;
  }

  @include smallview {
    font-size: 40px;
  }

  @include mobile {
    font-size: 30px;
  }
}

.site-name a {
  //text-decoration: none;
  color: $darkGray;
}

.site-description {
  color: $gray;
  font-size: 16px;
  margin: 0px;
  border-bottom: 1px solid $lightGray;
  padding: 20px 0;

  @include mobile {
  }
}

nav {
  float: none;
  font-family: $helveticaNeue;
  font-size: 18px;
  padding: 20px 0;
  border-bottom: 1px solid $lightGray;
  line-height: 3em;

  @include mobile {
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      font-size: 135%;
      margin: 0 10px;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}

footer {
  height: 70px;
  width: $maxWidth;
  width: 100%;
  margin: 0 auto;
  padding: 10px 0px 10px 0px;
  text-align: center;
  background-color: $lightGray;
}

// 
// people
//

.detailsDiv {
 margin-top: 30px;
 border-style: groove;
}

.detailsDiv img {
  margin: auto;
  display: block;
}

.col-6 col-md-4 custom-col {
 padding: 1em;
}

.custom-col {
  width: 200px;
  margin: 5px 20px 5px 20px;
}

.custom-col h4 {
  text-align: center;
  line-height: 1.4;
  margin: 10px 0px;
}

.flex-container {

  width: 75%;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-image {
  margin: 0;
  width: 200px;
  height: auto;
  max-width: none;
  opacity: 1;
  transition: opacity .1s ease-out;
  -moz-transition: opacity .1s ease-out;
  -webkit-transition: opacity .1s ease-out;
  -o-transition: opacity .1s ease-out;
  overflow: hidden;
}

.flex-image:hover {
  opacity: .7;
}

.image-container {
  border-style: solid;
  border-width: 5px;
  border-color: black;
  overflow: hidden;
  height: 200px;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
