
//
// VARIABLES
//

// Sizes
$maxWidth: 1550px;//825px;
$weightHeight: 50px;
$buttonHeight: 220px;


// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints


@mixin microview {
  @media screen and (max-width: 325px) {
    @content;
  }  
}

@mixin mobile {
  @media screen and (max-width: 450px) {
    @content;
  }
}

@mixin miniview {
  @media screen and (max-width: 631px) {
    @content;
  }
}

@mixin special_transition_for_nav_bar {
  @media screen and (max-width: 799px) {
    @content;
  }
}

@mixin smallview {
  @media screen and (max-width: 937px) {
    @content;
  }
}

@mixin mediumview {
  @media screen and (max-width: 1243px) {
    @content;
  }
}

@mixin largeview {
  @media screen and (max-width: $maxWidth) {
    @content;
  }
}



// I don't see this in use -BB
@mixin smallview_only {
  @media screen and (max-width: 790px) and (min-width: 480px) {
    @content;
  }
}