
<!DOCTYPE html>
<html>
<head>



  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-116784872-1"></script>
  

	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-116784872-1');
	</script>

  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

  {% include meta.html %}
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- BB START-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Audiowide|Monoton|Orbitron&display=swap" rel="stylesheet">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;1,300&display=swap" rel="stylesheet">

  <!-- BB END-->

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  <!-- Favicon -->
  <link rel=icon type="image/x-icon" href="/favicon-32x32.png">
  

</head>

  <body>
    <div class="wrapper-masthead">
        <header class="masthead clearfix">
        <a name="Top"></a>

          <nav>
            <a href="{{ site.baseurl }}/">Home</a>
            <a href="{{ site.baseurl }}/about">About</a>
            <a href="{{ site.baseurl }}/research">Research</a>
            <a href="{{ site.baseurl }}/people">People</a>
            <a href="{{ site.baseurl }}/publications">Publications</a>
            <a href="{{ site.baseurl }}/jobs">Jobs</a>
            <a href="{{ site.baseurl }}/contact">Contact</a>
            <!-- Code Tutorials -->
            <div class="dropdown show" style="display: inline-block">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tutorials
              </a>

              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="{{ site.baseurl }}/Code_Tutorials/Introduction to Python.html">Introduction to Python</a>
                <a class="dropdown-item" href="https://bbearce.github.io/#notes/docker/tutorial/">Docker Tutorial</a>
              </div>
              <!-- Code Tutorials End -->
            </div>
            <a href="{{ site.baseurl }}/fun">Fun</a>
            <a href="{{ site.baseurl }}/lunch">Lunch</a>
          </nav>
        </header>
    </div>

    <div id="main" role="main" class="main">
      {{ content }}
    </div>


      <footer class="footer">
        {% include svg-icons.html %}
      </footer>
    </div>

    {% include analytics.html %}
  </body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- BB -->
<script src="/js/video_paralax.js"></script>
<!-- BB -->


  
</html>
